body {
  font-family: Arial;
  background: #0b1c2c;
  color: white;
  text-align: center;
}

.menu {
  background: #111;
  padding: 10px;
}

.card {
  background: #1e3a5f;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

table {
  margin: auto;
  margin-top: 20px;
  background: white;
  color: black;
}

td, th {
  padding: 8px;
}